* {
  margin: 0;
  padding: 0;
}

/* body*/

body {
  font-family: "Sono", sans-serif;
  width: 100%;
  justify-content: center;
  background-imag: url("../img/papel2.jpg");
  background-color: antiquewhite;
  background-attachment: fixed;
}

.fa-instagram,
.fa-facebook,
.fa-twitter {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: black;
}

a.special-link {
  opacity: 1;
  transition: opacity 0.5s ease;
  text-decoration: none;
}

a.special-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

/*navbar*/

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.navbar-collapse {
  justify-content: right;
  padding-right: 10%;
}

.bg-blck {
  background-color: rgb(235, 224, 209);
  opacity: 0.7;
  transition: opacity 0.9s ease;
}

.bg-blck:hover {
  opacity: 0.9;
}

.nav-item {
  padding-inline: 10%;
}

.navbar-brand {
  padding-left: 5%;
}

.navlink1,
.navlink2,
.navlink3,
.navlink4,
.navlink5 {
  color: rgb(0, 0, 0);
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.navlink1:hover,
.navlink2:hover,
.navlink3:hover,
.navlink4:hover,
.navlink5:hover {
  font-weight: bolder;
}

ul {
  display: flex;
  justify-content: center;
  text-align: none;
  font-size: small;
}

ul,
ol {
  list-style-type: none;
  color: black;
}

/*Bio*/

.cv {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.cv:hover {
  opacity: 0.7;
}

.bio {
  display: flex;
  padding-top: 200px;
  margin: auto;
  justify-content: center;
}

.bio_bio {
  display: flex;
  justify-content: center;
  width: 700px;
}

.bio_text {
  font-size: small;
}

.bio_text {
  padding-top: 2em;
  padding-left: 2em;
}

.carouselExample {
  margin: 0;
  padding: 0;
  width: 100%;
}

.carousel-inner {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
  transition: opacity 0.9s ease;
}

/*works*/

.works {
  display: flex;
}

.works_img {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 150px;
}

.ilus,
.design {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.ilus:hover,
.design:hover {
  opacity: 0.8;
}

.link_ilus {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.linkilus1 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.linkilus1:hover {
  opacity: 0.7;
}

/*Contact*/

.container_contacto {
  padding-top: 90px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  justify-content: center;
}

.li_img {
  padding-left: 30px;
  padding-top: 20px;
}

.ul_links {
  display: list-item;
  place-items: center;
}

.li_link1 {
  padding-left: 60px;
}

.li_link1,
.li_link2,
.li_link3 {
  text-decoration: none;
  padding-top: 10px;
}

.li_link1,
.li_link2,
.li_link3 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.li_link1:hover,
.li_link2:hover,
.li_link3:hover {
  opacity: 0.7;
}

.contacto_links {
  justify-self: center;
}

.contact {
  font-size: small;
  width: 100%;
  padding-top: 2em;
}

.mb-4 {
  width: 500px;
}

/*ilustración*/

.ilus_titulo,
.dg_titulo {
  font-size: 90%;
  padding-left: 20px;
  padding-top: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item {
  aspect-ratio: 1;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-img {
  transition: filter 0.3s ease;
}

.grid-img:hover {
  filter: brightness(80%);
}

.link_dg {
  justify-content: center;
}

.linkdg1 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.linkdg1:hover {
  opacity: 0.7;
}

/*events*/

.events {
  padding-top: 150px;
}

.div_events {
  margin: auto;
  display: grid;
  justify-items: center;
  padding-bottom: 30px;
}

.a_events {
  font-weight: bold;
}

.div_events_title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: medium;
}

/*espacios*/

.espacio_ilus,
.espacio_textil,
.espacio_figuras {
  height: 30px;
  border-bottom: 1px dotted black;
}

/*eventos*/
.a_eventos {
  text-decoration: none;
}

.esoestodo {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

/*Footer*/
footer {
  font-size: x-small;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.redes_icons_a {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.link_dg {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

/* Grid layout styles */

.grid-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Lightbox styles */

.lightbox {
  padding-top: 20px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 50px;
  overflow: hidden;
}

/*responsive*/

/* Media query for tablets and smaller devices */
@media (max-width: 700px) {
  /*Carrusel*/

  .carouselExample {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .carousel-inner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
    transition: opacity 0.9s ease;
  }

  /*Bio*/

  .bio {
    justify-content: center;
  }

  .bio_bio {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .bio_text {
    padding-top: 100px;
    font-size: large;
    width: 500px;
    text-align: center;
  }

  .cv {
    transform: scale(110%);
  }

  .bio_img {
    transform: scale(150%);
  }

  /*Work*/
  .works {
    display: grid;
  }

  .works_img {
    display: grid;
    gap: 100px;
    justify-content: center;
    padding-top: 200px;
  }

  /*Events*/

  .events {
    padding-top: 350px;
  }

  /*Contact*/

  .container_contacto {
    padding-top: 300px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    justify-content: center;
  }
}
